*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}



html{
  font-size: 11px;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  width: 0px;
  background: #111; /* make scrollbar transparent */
}

a{
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
}

message{
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-size: 15px;
    color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

#inicio {
  height: 100%;
  width: 100%;
  background-color: #030a20;
  position: absolute;

}

.container{
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

header{
  position: fixed;
  /*font-family:"Inconsolata";*/
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.8rem;
  font-size: 1.5em;
  padding-top: 3px;
  -webkit-backdrop-filter:saturate(180%) blur(20px);
  backdrop-filter: blur(1rem);
  background-color: rgba(14, 4, 65, 0.4);
  border-bottom: #ffffff2f;
  border-width: 0.0px;
  border-style: solid;
}

.bottom{
  top: unset;
  bottom: 0px;
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 - 1rem;
  justify-content: center;

}

.nav-link-atendimento{
  margin-right : 100px;
  margin-left: 15px;
  justify-content: flex-end;
}

.nav-link{
  padding: 0 2rem;
  margin-top: 10px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.87);
}

.nav-link:hover{
  color: rgb(255, 255, 255);
}
#messages{
  position: relative;
  padding-top: 40px;
  padding-bottom: 120px;
  align-self: stretch;
  display: inline-table;
}

#divMessage{
  width: 100%;
  display: inline-table;
}

.boxChat{
  display: flexbox;
  position: relative;
  top: 30px;
  width: relative;
  max-width: 700px;
  height: relative;
  padding: 15px;
  margin-top: 20px;
  border-radius: 25px;
  border: 1px solid;
  border-color: #ffffff4b;
  backdrop-filter: blur(0.5rem);
  margin-inline: 30px;
  font-size: 18px;
}

.left{
  float: left;
  border-bottom-left-radius: 5px;
  background: #44ff987e;
}

.right{
  float: right;
  border-bottom-right-radius: 5px;
  background: #2b7dca48;
}

.boxSend{
  position: fixed;
  width: calc(90% - 90px);
  right: 5%;
  float: right;
}

.mainInput{
  border: #8e5eff57;
  border-width: 2px;
  border-style: solid;
  height: 20px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 75px;
  float: right;
  outline: none;
  font-size: 18px;
  z-index: 2;
  margin-top: 5px;
  margin-left: 5px;
  background: #ffffff00;
  color: #d8d1f5;
  border-radius: 15px;
  }
  ::placeholder { /* Recent browsers */
    text-transform: none;
    color: #857ec2;
}

.mainButton{
  position: absolute;
  right: 0px;
  top: 4px;
  background: #7467ada8;
  padding: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 10px;
  font-size:14px;
  color: #ffffff;
  outline: none;
  margin: 6px;
  border-color: rgba(255, 255, 255, 0.164);
  box-shadow:0 8px 8px rgba(25, 11, 155, 0.055);
  cursor: pointer;
}